<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="website_save_after">
        <observer name="createStock" instance="Mexbs\MultiInventory\Observer\WebsiteSaveAfter" />
    </event>
    <event name="website_delete_after">
        <observer name="deleteStock" instance="Mexbs\MultiInventory\Observer\WebsiteDeleteAfter" />
    </event>
</config>
